<div style="background-color: rgb(247, 247, 247);" id="educacion">
    <div style="text-align: center;">
    <br>
    <br>
      <h1>Educación</h1>
    </div>
    <br>
    <br>
    <div>
      <img src="../../../assets/img/argeLogo.png" style="float: left; margin: 10px;">
      <h2>Argentina Programa YoProgramo</h2>
      <h3>Desde el 08/11/2021 hasta el 31/07/2022</h3>
      <h4>Especialización</h4>
      <h5>Es un programa de formación en programación y pensamiento computacional de dos fases con salida laboral en oficios digitales diseñado por la Cámara de la industria Argentina del Software. Certificacion de Full Stack Web Developer Junior.</h5>
    </div>
    <br>
    <br>
    <div>
      <img src="../../../assets/img/Facu.png" style="float: left; margin: 10px;">
      <h2>Arquitectura UNC FAUD</h2>
      <h3>Desde el 01/03/2009 hasta el 01/10/2010</h3>
      <h4>Especialización</h4>
      <h5>Realice todo primer año y unas materias de segundo pero no pude concluir con la carrera.</h5>
    <br>
    <br>
    </div>