<div class="container-fluid p-5 my-5 bg-dark text-white" style="margin: 0 !important;">
  <div style="text-align: center;">
    <h1>Hard & Soft Skills</h1>
  </div>
<div class="container mt-3">
  <h2>HTML</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar bg-black progress-bar-striped progress-bar-animated" style="width:80%"></div>
    </div>
  <h2>CSS</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar bg-black progress-bar-striped progress-bar-animated" style="width:80%"></div>
  </div>
  <h2>JS</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar bg-black progress-bar-striped progress-bar-animated" style="width:70%"></div>
  </div>
  <h2>INGLES</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar bg-black progress-bar-striped progress-bar-animated" style="width:60%"></div>
  </div>
  <h2>TRABAJO EN EQUIPO</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar bg-black progress-bar-striped progress-bar-animated" style="width:100%"></div>
  </div>
  <h2>GITHUB</h2>
    <div class="progress" style="height: 30px;">
      <div class="progress-bar bg-black progress-bar-striped progress-bar-animated" style="width:80%"></div>
  </div>
</div>
  <br>
  <br>
