<div class="container-fluid p-5 my-5 bg-dark text-white" id="experiencia">
  <div style="text-align: center;">
    <h1>Experiencia Laboral</h1>
  </div>
  <br>
  <br>
  <div>
    <img src="../../../assets/img/logoEmpre.png" style="float: left; margin: 10px;">
    <h2>Atencion al cliente</h2>
    <h3>Desde el 01/07/2016 hasta el 01/03/2022 5 años 9 meses</h3>
    <h4>Tareas que realizaba</h4>
    <h5>Gestion de turnos, recepcion de pacientes, tramites administrativos y/o reclamos.</h5>
  </div>
  <br>
  <br>
  <div>
    <img src="../../../assets/img/TRANKIALGOlogo.jpg" style="float: left; margin: 10px;">
    <h2>Emprendimiento gastronimico</h2>
    <h3>Desde el 01/05/2014 hasta el 01/10/2018</h3>
    <h4>Tareas que realizaba</h4>
    <h5>Producción y venta de comida rapida, paralelamente se realizaba producción de panes para otro negocio de ventas de sandwiches en Nueva Córdoba.</h5>
  </div>
  <br>
  <br>
</div>